* {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}

table, th, td {
    font-size: 16px;
    border:1px solid black;
    border-collapse: collapse;
    
  } 
  th {
    background-color: #96D4D4;
  }
  
  tr {
    background-color: #cef8c6;
  }
  
  tr.mal {
    background-color: #fd9f8b;
  }